.vs/
*.filters
*.user

# Folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vscode/

log.txt

desktop.ini
imgui.ini

# Level replays
GameProject/Game/Levels/Replays/*_Replay.json
